body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    background: linear-gradient(45deg, #1a73e8, #4285f4);
    color: white;
}

footer {
    font-size: 0.9rem;
}


/* Asegura que los íconos sean más grandes y centrados */
.fas {
    
    font-size: 150px;
    justify-content: center;
    text-align: center;
    margin-bottom: 26px;
    margin-top: 26px;
}

.col-md-4 {
    text-align: center;
}
/* Opcional: Para centrar los botones dentro de las columnas */
